body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: tomato;
}

div {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 20px;
}

.deleteButton {
  border-radius: 20px;
  width: 150px;
  font-size: 25px;
  float: right;
  margin-left: 80%
}

.titleHeader {
  font-family: system-ui;
  padding: 60px;
  font-size: 55px;
  font-weight: bold;
}

.table.table.table {
  font-family: inherit;
  font-size: 24px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}